
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title text-center"><%= @user.email %></h4>

    </div>
    <div class="modal-body">
        <%= form_for @user, url: {action: "update"}, html: { class: 'form' , remote: true } do |f| %>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Histories</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Bookings</a>
              <a class="nav-item nav-link" id="nav-vehicle-tab" data-toggle="tab" href="#nav-vehicle" role="tab" aria-controls="nav-vehicle" aria-selected="false">Vehicles</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <% @user.auto_histories.each do |history| %>
                  <%= history %>   
                <% end %>  
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <% @user.bookings.order(start_at: :desc).each do |booking| %>
                  <%= booking %>   
                <% end %>
              </div>
              <div class="tab-pane fade" id="nav-vehicle" role="tabpanel" aria-labelledby="nav-vehicle-tab">

              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <% @user.vehicles.each do |vehicle| %>
                    <%= vehicle.model %>   
                  <% end %>  
                </div>
          </div>
      <% end %>
      <%= link_to 'Close', "#", class: "btn btn-sm btn-default float-right", data: {dismiss: "modal"} %>

    </div>
  </div>
</div>
