
  <%= form_for @booking, id: 'booking_form', remote: true do |f| %>
    <ul class="nav nav-tabs d-none" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active setup-content" id="home" role="tabpanel" aria-labelledby="home-tab">
        <%= f.hidden_field :is_active,  value: true %>

        <div class="form-group col-xs-12">
          <%= email_field_tag :email, '', class:"form-control validate-group", required: true, placeholder:'Your email(邮箱)' %>
        </div>

        <div class="form-group col-xs-12">
          <%= text_field_tag :name, '', class:"form-control validate-group", required: true, placeholder:'Your name(姓名)' %>
        </div>

        <div class="form-group col-xs-12">
          <%= text_field_tag :phone_number, '', class:"form-control validate-group", required: true, placeholder:'Your phone number(电话号码)' %>
        </div>

        <div class="form-group col-xs-12">
          <%= text_field_tag :address, '', class:"form-control validate-group", required: true, placeholder:'Your address(居住地址)' %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.label :repair_date, 'Pick a service date(维修日期)):' %><br/>
          <%= f.text_field :repair_date, required: true, class: "form-control datepicker readonly validate-group" %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.label :type_of_repair, 'Type of service' %>
          <%= collection_select(:repair, :type, @type_of_repairs, :id, :service_detail, {prompt: "please select service type(请选择维修服务)"}, {class: 'form-control validate-group', required: true}) %>
        </div>


        <div class="mb-3 group-end">
          <a class="btn btn-info btn-sm btnNext pull-right" >Next</a>
          <%= link_to 'Close', "#", class: "btn btn-sm btn-light float-right", data: {dismiss: "modal"} %>
        </div>
        <!--/. form element wrap -->

      </div>

      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="form-group col-xs-12">
          <%= text_field_tag :vehicle_vin, '', class:"form-control", required: true, placeholder:'Vehicle VIN(车VIN号)' %>
        </div>

        <div class="form-group col-xs-12">
          <%= text_field_tag :vehicle_year, '', class:"form-control", required: true, placeholder:'Year of the vehicle(车龄)' %>
        </div>
        <div class="form-group col-xs-12">
          <%= text_field_tag :vehicle_make, '', class:"form-control", required: true, placeholder:'Vehicle made(车标)' %>
        </div>
        <div class="form-group col-xs-12">
          <%= text_field_tag :vehicle_model, '', class:"form-control", required: true, placeholder:'Vehicle model(车款))' %>
        </div>
        <div id="reserve_time_period" class="form-group col-xs-12">

        </div>
        <div class="mb-3 group-end">
          <%= f.submit "submit", class:"btn btn-info btn-sm" %>
          <a class="btn btn-warning btnPrevious btn-sm">Previous</a>

          <%= link_to 'Close', "#", class: "btn btn-sm btn-light float-right", data: {dismiss: "modal"} %>
        </div>
        <!--/. form element wrap -->

      </div>
      

    </div>

  <% end %>
<script>
  var dateToday = new Date(); 
  $(".readonly").keydown(function(e){
          e.preventDefault();
      });
  $(document).ready(function () {

    $('.datepicker').datepicker({
          minDate: dateToday,
    });
    
    $('.btnNext').click(function() {
      var curStep = $(this).closest(".setup-content"),
      curStepBtn = curStep.attr("id"),
      nextStepWizard = $('.nav-tabs .active').parent().next('li').find('a')
      curInputs = curStep.find("input[type='email'],input[type='text'],select"),
      isValid = true;
      currenttepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]');
      $(".validate-group").removeClass("border border-danger border-top-0 border-right-0 border-left-0");
      console.log(curInputs.length)
      for(var i=0; i<curInputs.length; i++){
        if (!curInputs[i].validity.valid){
          isValid = false;
          $(curInputs[i]).closest(".validate-group").addClass("border border-danger border-top-0 border-right-0 border-left-0");
        }
      }

      if (isValid) {
        nextStepWizard.removeAttr('disabled').trigger('click');
        currenttepWizard.html("✔")
        nextStepWizard.removeClass('inactiveLink')
        $('.nav-tabs .active').parent().next('li').find('a').trigger('click');
        const date = $("#booking_repair_date").val()
        const service_type = $("#repair_type").val()
        if (date) {
          $.ajax ({
            url: '/check_date',
            type: "GET",
            data: {"date": date, "service_type": service_type}
          })
        }
      }
    
    });
  });

  $('.btnPrevious').click(function() {
    $('.nav-tabs .active').parent().prev('li').find('a').trigger('click');
  });

  function validateEmail(email) {
    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    return emailReg.test( email );
  }
</script>