<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Week day</th>
        <th scope="col">start time</th>
        <th scope="col">end time</th>
        <th scope="col">overlap?</th>
        <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        <% @business_hours.each do |day_of_week| %>
            <tr>
                <td><%= day_of_week.day_of_week %></td>
                <td><%= day_of_week.day_of_business_hour.open_at.strftime("%H:%M") %></td>
                <td><%= day_of_week.day_of_business_hour.close_at.strftime("%H:%M")   %></td>
                <td><%= day_of_week.day_of_business_hour.is_overlap ? '<i class="far fa-check-circle text-success"></i>'.html_safe : '<i class="far fa-times-circle text-danger"></i>'.html_safe  %></td>
                <th>
                    <%= link_to('<i class="fa fa-pen" aria-hidden="true"></i>'.html_safe, edit_day_of_business_hour_path(id:day_of_week.day_of_business_hour.id), class:"btn btn-info btn-sm", remote: true) %>
                </th>
            </tr> 
        <% end %>
    </tbody>
</table>

