
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item active ">
            <%= link_to(pages_path, class:"nav-link", data: { turbolinks: false }) do %>
                <i class="fas fa-home"></i>
                <p>Dashboard</p>
            <% end %>
        </li>

        <li class="nav-item ">
            <%= link_to(vehicles_path, class:"nav-link", data: { turbolinks: false }) do %>
            <i class="fas fa-car"></i>
                <p>Vehicles</p>
            <% end %>
        </li>
        <li class="nav-item ">
            <%= link_to(type_of_repairs_path, class:"nav-link", data: { turbolinks: false }) do %>
                <i class="fas fa-tools"></i>
                <p>Service types</p>
            <% end %>
        </li>
        <li class="nav-item ">
            <%= link_to(users_path, class:"nav-link", data: { turbolinks: false }) do %>
                <i class="fas fa-users"></i>
                <p>Users</p>
            <% end %>
        </li>
        <li class="nav-item ">
            <%= link_to(users_path, class:"nav-link", data: { turbolinks: false }) do %>
                <i class="fas fa-users"></i>
                <p>Users</p>
            <% end %>
        </li>
        <li class="nav-item ">
            <%= link_to(users_path, class:"nav-link", data: { turbolinks: false }) do %>
                <i class="fas fa-users"></i>
                <p>Users</p>
            <% end %>
        </li>
        <li class="nav-item ">
            <%= link_to('<i class="fas fa-sign-out-alt"></i>Logout'.html_safe, destroy_user_session_path, method: :delete, class: "nav-link" ) %>
                <!-- <i class="material-icons">person</i>
                <span class="dropdown-item" > -->
            </a>
        </li>
    </ul> 
</div>